# Theme Name: sprocketAR1S
# By: Le Khanh Binh <lekhanhbinh2901@gmail.com> 
# Platform: iPod Mini (138x110, 4 colour grayscale)
# License: CC-BY-SA 3.0
# Version: 8.0
# Last updated: 2026-04-04
# Original Theme: sprocket by Cam Mendoza (https://github.com/gogi-goji/sprocket-rockbox-theme)
# Based on a modified version of sprocket, sprocketModern by OlsroFR

wps: /.rockbox/wps/sprocketAR1S.wps
sbs: /.rockbox/wps/sprocketAR1S.sbs
font: /.rockbox/fonts/14-Rockbox-Mix.fnt
backdrop: -
clear backdrop
background color: 3
foreground color: 0
filetype colours: -
iconset: -
viewers iconset: -
ui viewport: -
show icons: off
selector type: bar (inverse)
statusbar: off
scrollbar: right
scrollbar width: 8
volume display: graphic
battery display: graphic
# Switch "Disable main menu scrolling" to "off" if you want to enable scrolling text on the main menu.
# WARNING: Enabling this may break/brick the lockscreen if anything other than the Now Playing bar is scrolling.
Disable main menu scrolling: on